<template>
  <div class="descripition">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.descripition {
    margin: 1rem 0 0 0;
    font-size: .9rem;
    font-style: italic;
}
</style>