<template>
  <strong>
    <slot name="name"></slot>
    <div class="status">
      <slot name="status"></slot>
    </div>
  </strong>
</template>

<style lang="scss" scoped>
strong {
  display: flex;
  align-content: center;

  .status {
    margin: 0 0 0 auto;
  }
}
</style>