<template>
  <base-card @click="toggleDescriptionVisibility" @click.stop>
    <base-element-grid>
      <template #name>{{ name }}</template>
      <template #status
        ><span :style="{ color: statusColor }">{{ status }}</span></template
      >
    </base-element-grid>
    <base-component-description v-if="descriptionVisibility">{{
      description
    }}</base-component-description>
  </base-card>
</template>

<script>
import BaseComponentDescription from "./Layout/BaseComponentDescription.vue";

export default {
  components: {
    BaseComponentDescription,
  },
  props: ["id", "name", "status", "description"],
  data() {
    return {
      statusColor: "green",
      descriptionVisibility: false,
    };
  },
  watch: {
    status() {
      this.$emit("updateComponentStatus", this.status);
      if (this.status === "ok") {
        this.statusColor = "green";
      } else if (this.status === "warning") {
        this.statusColor = "orange";
      } else if (this.status === "error") {
        this.statusColor = "red";
      }
    },
  },
  methods: {
    toggleDescriptionVisibility() {
      if (this.description !== null) {
        this.descriptionVisibility = !this.descriptionVisibility;
      }
    },
  },
};
</script>