<template>
  <base-card @click="toggleCardVisibility" @click.stop>
    <base-element-grid>
      <template #name>{{ name }}</template>
      <template #status><span :style="{ color: statusColor }">{{ actualStatus }}</span></template>
    </base-element-grid>
    <base-list-grid v-show="cardVisibility">
      <ComponentElement
        v-for="component in components"
        :key="component.id"
        :id="component.id"
        :name="component.name"
        :status="component.status"
        :description="component.statusDescription"
        @update-component-status="updateStatus"
      />
    </base-list-grid>
  </base-card>
</template>

<script>
import ComponentElement from "./ComponentElement.vue";
import BaseListGrid from "./Layout/BaseListGrid.vue";

export default {
  props: ["id", "name", "status", "components"],
  components: {
    ComponentElement,
    BaseListGrid,
  },
  data() {
    return {
      cardVisibility: false,
      actualStatus: this.status,
      statusColor: "green",
    };
  },
  watch: {
    status() {
      this.actualStatus = this.status;
      if (this.status === "ok") {
        this.statusColor = "green";
      } else if (this.status === "warning") {
        this.statusColor = "orange";
      } else if (this.status === "error") {
        this.statusColor = "red";
      }
    },
  },
  methods: {
    toggleCardVisibility() {
      this.cardVisibility = !this.cardVisibility;
    },
    updateStatus(status) {
      this.$emit("updateDeviceStatus", this.id, status);
      this.actualStatus = status;
    },
  },
};
</script>