<template>
  <base-card @click="toggleCardVisibility">
    <base-element-grid>
      <template #name>{{ name }}</template>
      <template #status
        ><span :style="{ color: statusColor }">{{
          actualStatus
        }}</span></template
      >
    </base-element-grid>
    <base-list-grid v-show="cardVisibility">
      <DeviceElement
        v-for="device in devices"
        :key="device.id"
        :id="device.id"
        :name="device.name"
        :status="device.status"
        :components="device.deviceComponents"
        @update-device-status="updateStatus"
      />
    </base-list-grid>
  </base-card>
</template>

<script>
import DeviceElement from "./DeviceElement.vue";

export default {
  components: {
    DeviceElement,
  },
  // can props validate here if need
  props: ["id", "name", "status", "devices"],
  data() {
    return {
      cardVisibility: false,
      actualStatus: this.status,
      statusColor: "green",
    };
  },
  watch: {
    status() {
      this.actualStatus = this.status;
      if (this.status === "ok") {
        this.statusColor = "green";
      } else if (this.status === "warning") {
        this.statusColor = "orange";
      } else if (this.status === "error") {
        this.statusColor = "red";
      }
    },
  },
  methods: {
    toggleCardVisibility() {
      this.cardVisibility = !this.cardVisibility;
    },
    updateStatus(deviceId, status) {
      this.$emit("updateVehicleStatus", this.id, deviceId, status);
      this.actualStatus = status;
    },
  },
};
</script>
