<template>
  <base-widget>
    <h3>Vehicle List</h3>
    <button @click="callIncident">Manipulate Data</button>
    <ul>
      <VehicleElement
        v-for="vehicle in vehicleList"
        :key="vehicle.id"
        :id="vehicle.id"
        :name="vehicle.name"
        :status="vehicle.status"
        :devices="vehicle.devices"
        @update-vehicle-status="updateStatus"
      />
    </ul>
  </base-widget>
</template>

<script>
import VehicleElement from "./VehicleElement.vue";

export default {
  inject: ["vehicleData", "manipulatedData"],
  components: {
    VehicleElement,
  },
  data() {
    return {
      vehicleList: this.vehicleData,
    };
  },
  methods: {
    updateStatus(vehicleId, deviceId, status) {
      const vehicleIndex = this.vehicleList.findIndex(
        (obj) => obj.id == vehicleId
      );
      const deviceIndex = this.vehicleList[vehicleIndex].devices.findIndex(
        (obj) => obj.id == deviceId
      );
      this.vehicleList[vehicleIndex].status = status;
      this.vehicleList[vehicleIndex].devices[deviceIndex].status = status;
    },
    callIncident(){
      this.vehicleList = this.manipulatedData;
    }
  },
};
</script>

<style lang="scss" scoped>
h4 {
  margin: 0;
}
ul {
  padding: 0;

  .separator {
    width: 100%;
    height: 2px;
    margin: 1rem 0;
    background-color: #ccc;
  }

  li {
    list-style-type: none;
    margin: 1rem 0;
  }
}
.elements-list {
  width: 100%;
  padding: 0 0 0 2em;

  li {
    display: flex;
    flex-wrap: wrap;
  }
}
div {
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  margin: 0 0 0 auto;

  .status-indicators {
    margin: 0 0 0 1rem;
    display: flex;
    flex-flow: column nowrap;

    span {
      margin: 0 auto 0 0;
    }
  }
}
</style>