<template>
  <VehicleListWidget />
</template>

<script>
import data from "./busList.json";
import dataWithErrors from "./busListManipulated.json";
import VehicleListWidget from "./components/VehicleListWidget.vue";

export default {
  components: {
    VehicleListWidget,
  },
  provide: {
    vehicleData: data,
    manipulatedData: dataWithErrors,
  },
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  color: #555;
}
#app {
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 60px 0;
}

@media screen and (max-width: 500px) {
  #app {
    font-size: 0.9rem;
  }
}
</style>
