<template>
    <section>
        <slot></slot>
    </section>
</template>

<style lang="scss" scoped>
    section{
        width: 90%;
        max-width: 500px;
        min-height: 80vh;
        padding: 1rem;
        margin: auto;
        background-color: #fff;
        border-radius: .5rem;
    }
</style>