<template>
  <li>
    <slot></slot>
  </li>
</template>

<style lang="scss" scoped>
li {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: solid 1px #ccc;
  border-radius: 0.5rem;
  list-style-type: none;
}
</style>